<div class="section conceito" id="conceito">
  <div class="texto">
    <div class="balaop">
    <p>
      Aqui temos alguns dos conceitos relacionados ao nosso app.
      Eles serviram de base para tornar o que oLifit é hoje.
    </p>
    </div>
  </div>
  <div class="baloes">
    <span class="balao">Saúde</span>
    <span class="balao">Bem-Estar</span>
    <span class="balao">Auto Cuidado</span>
    <span class="balao">Alimentação</span>
    <span class="balao">Atividade Física</span>
    <span class="balao">Internet</span>
    <span class="balao">Redes Sociais</span>
    <span class="balao">Saúde Mental</span>
  </div>
</div>
