.conceito {
  background: var(--cinza-escuro);
  color: white;
}

.baloes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.balao {
  background: var(--verde);
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
}
