<div class="section conceito" id="conceito">
  <div class="texto">
    <div class="balaop">
    <p>
      Aqui temos alguns dos conceitos relacionados ao nosso app.
      Eles serviram de base para tornar o que oLifit é hoje.
    </p>
    </div>
  </div>
  <div class="baloes">
    <span class="balao">Saúde
      <h3>Segundo a Organização Mundial da Saúde, saúde é um estado de completo bem-estar físico, mental e social, e não apenas a ausência de doenças.</h3>
        <h3>Isso significa que ser saudável vai além da condição clínica, envolvendo também equilíbrio emocional e qualidade nas relações sociais.</h3>
    </span>
    <span class="balao">Bem-Estar
      <h3>O conceito de bem-estar compreende a experiência de equilíbrio entre corpo, mente e emoções. Trata-se de uma condição subjetiva e multifatorial, relacionada à percepção de qualidade de vida, satisfação pessoal e relações saudáveis.</h3>
        <h3>Alcançar o bem-estar exige uma rotina que inclua autocuidado, práticas emocionais saudáveis, acesso a serviços de saúde e suporte social.</h3>
    </span>
    <span class="balao">Auto Cuidado
      <h3>Autocuidado é o conjunto de ações que o indivíduo realiza para manter sua saúde física e mental. Inclui hábitos como alimentação equilibrada, sono adequado, exercícios regulares e manejo do estresse.</h3>
         <h3>Tais práticas contribuem para a prevenção de doenças e a melhora da qualidade de vida.</h3>
    </span>
    <span class="balao">Alimentação
      <h3>A alimentação é um dos pilares fundamentais da saúde. De acordo com a Organização Mundial da Saúde, uma alimentação adequada contribui significativamente para a prevenção de doenças, o fortalecimento do sistema imunológico e a manutenção das funções vitais do organismo</h3>
    </span>
    <span class="balao">Atividade Física</span>
    <span class="balao">Internet</span>
    <span class="balao">Redes Sociais</span>
    <span class="balao">Saúde Mental</span>
  </div>
</div>
