<div class="home">
  <!-- Carrossel -->
  <div class="carousel">
    <div class="slide active" #slide><img src="app/assets/login.png" alt="Tela 1"></div>
    <div class="slide" #slide><img src="app/assets/feed.png" alt="Tela 2"></div>
    <div class="slide" #slide><img src="app/assets/perfil.png" alt="Tela 3"></div>
  </div>

  <div class="overlay">
    <img src="app/assets/logo.png" alt="Logo Lifit" class="logo"/>
    <div class="buttons">
      <button class="btn instalar">Instalar</button>
    </div>
  </div>
</div>

