
<div class="section infos" id="infos">
<p class="texto">
  A busca por uma rotina saudável, que combine bem-estar físico, mental e social, tem se tornado uma preocupação crescente na sociedade contemporânea.
  No entanto, embora a maioria das pessoas reconheça a importância da prática de atividades físicas regulares e de bons hábitos alimentares, muitas enfrentam dificuldades para iniciar e manter esse estilo de vida, seja por falta de motivação, orientação ou apoio social.
</p>
<p class= "texto">
  Nossa missão é promover saúde, bem-estar e qualidade de vida por meio da tecnologia, criando uma rede social digital que incentive hábitos saudáveis e combata o sedentarismo com base na motivação coletiva e no suporte entre usuários.
  A proposta é fornecer um ambiente acessível, acolhedor e interativo, que estimule o engajamento por meio de metas, desafios e conexões sociais significativas.
</p>
</div>

