<div class="infos">
  <div class="baloes">
    <div class="texto">
      <div class="balao">
    A busca por uma rotina saudável, que combine bem-estar físico, mental e social,
    tem se tornado uma preocupação crescente na sociedade contemporânea. No entanto,
    embora a maioria das pessoas reconheça a importância da prática de atividades físicas
    regulares e de bons hábitos alimentares, muitas enfrentam dificuldades para iniciar
    e manter esse estilo de vida.
      </div>
    </div>

    <div class="texto">
      <div class="balao">
    Nossa missão é promover saúde, bem-estar e qualidade de vida por meio da tecnologia,
    criando uma rede social digital que incentive hábitos saudáveis e combata o sedentarismo
    com base na motivação coletiva e no suporte entre usuários.
      </div>
    </div>
  </div> 
</div>


